body{
  padding: 0;
  margin: 0;
  background:  url(../images/bg.jpg);
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}


nav.navbar{
  color:;
  background: grey;
  border: none;
}

span.red {
  color:#bb0a1e;
}
span.orange{
  color:orange;
}

/* navbar button */

button.search{
  background:#add8e6;
  color: orange;
}

button.search:hover{
  background: #90EE90;
  color:#bb0a1e;
}

/* navbar dropdown */

.dropbtn {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid lightblue;

  }


.profile{
  height: 30px;
  width: 20px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #add8e6;
  color: #ff0000;
  font-weight: bolder;
  text-align: relative;
  line-height: 30px;
  font-size: md-large;
}

.dropdown {
  margin-left: 35%;
  margin-top: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: ;
  color: #bb0a1e;
 }

.dropdown:hover .dropdown-content {
  display: block;
  background: grey;

}


.form-inline {
  margin-left: 400px;
}

.container {
  padding-top: 150px;
  padding-left: 40px;

}

 .card{
  width: 1000px;
  height: 600px;
  background: #f2e89a;
  border-radius: 30px;
}

.container .card .card-img{
  width: 400px;
  height: 599px;
  border-radius: 30px;
}

.card-title {
  color: red;
  font-style: oblique;
  font-weight: 500px;
  margin-top: -500px;
  margin-left: 600px;

}

p, .cast {
  margin-left: 600px;
  margin-top: 20px;
  color:

}

.rating {
  margin-left: 600px;
  margin-top: 80px;
  text-decoration: ;

}

.star_rating {
  line-height: 32px;
  font-size: 1.25em;
}

.star_rating .fa-star-o{
  color: yellow;
}

.star_rating .fa-star{
  color: rgba(230, 0, 79, 0.9);
}

.rating .rate {
  text-decoration: none;
  margin-left: 5px;
  background: rgba(230, 0, 79, 0.9);
  border-radius: 10px;
  box-shadow: 10 20px 50px rgba(0,0,0,.5);
  color: #fff;
}

.rating .rate:hover {
  text-decoration: none;
  font-weight: 300;
  margin-left: 5px;
  border-radius: 10px;
  color: rgba(230, 0, 79, 0.9);
  border-left: 2px solid rgb(139,0,139);
  border-top: 2px solid rgba(255,140,0);
  border-right: 2px solid rgb(230, 0, 79, 0.9);
  border-bottom: 2px solid rgb(66, 133, 244);
  background: #fff44f;
}

.heading {
  color: #FF69B4;
  font-size: 40px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  text-decoration-style: ;
  text-rendering: geometricPrecision;
  font-family: cursive;
}

.recommend_card {

  width: 300px;
  margin-left: 190px;
  shape-margin: 50px;
  background: ;
  outline-width: medium;
  scroll-behavior: smooth;
  border-spacing: inherit;
  border-left: 2px solid rgb(66, 133, 244);
  border-top: 2px solid rgba(230, 0, 79, 0.9);
  border-right: 2px solid rgb(255,140,0);
  border-bottom: 2px solid rgb(139,0,139);
  border-radius: 30px;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);

}

.recommend_card:hover{
  border-left: 6px solid rgb(139,0,139);
  border-top: 6px solid rgba(255,140,0);
  border-right: 6px solid rgb(230, 0, 79, 0.9);
  border-bottom: 6px solid rgb(66, 133, 244);
  background: #f2e89a;

}

.poster{
  background-color: black;
  color: red;
  text-align: center;
  width: 296px;
  height: 450px;
  position: ;
  border-radius: 30px;
}

.poster1 {
  width: 296px;
  height: 450px;
  position: ;
  border-radius: 30px;
}

.title, .genre {
  color: #FF69B4;
  margin-left: 0px;
  font-size: 20px;
}

.watch {
  color: #fff;
  text-transform: ;
  background-color: rgba(230, 0, 79, 0.9);
  padding: 10px,22px;
  font-weight: 400;
  border: 2px solid rgba(230, 0, 79, 0.9);

 }

.watch:hover{
   background: #fff44f;
   color: black;
   border-radius: 10px;
 }

.watch a:hover{
   color: rgba(230, 0, 79, 0.9);
   text-decoration: none;

}

.slidecontainer {
  width: 100%; /* Width of the outside container */

}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: pink; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 20px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  border-color: rgb(255,140,0);
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(255,140,0); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(255,140,0); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px;
}