
{% load static %}

<!doctype html>
<html>
    <head>

        <meta charset="UTF-utf-8">
        <title> HypeMovies | Watch </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/watch.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/png" href="../static/images/trans-logo.png">
    </head>
    <body>
        <div>
          <nav class="navbar navbar-expand-sm   fixed-top">

            <a class="navbar-brand" href="">
              <img src="{% static 'images/trans-logo.png' %}" alt="logo" style="width:40px;">
            </a>
            <a class="navbar-brand" href="">
              <span class="red">Hy</span><span class="orange">pe</sapn><span class="red">Mov</span><span class="orange">ies</span>
            </a>
            {% if messages %}
                {% for error in messages %}
                <p>{{ error }}</p><br>
                {% endfor %}
            {% endif %}
            <form class="form-inline" action="./searchmovies" method = "POST">
              {% csrf_token %}
              <input class="form-control mr-sm-2 center" name = "search_movies" type="text" placeholder="Search movies..." style="align:center;">
              <button class="btn search" type="submit">Search</button>
            </form>
            <div class="dropdown">
                <div class="profile">
                    {% if request.session.uname %}
                         {{ request.session.uname|capfirst|make_list|first }}
                    {% else %}
                         ?
                    {% endif %}
                 </div>
                <div class="dropbtn"></div>
                <div class="dropdown-content">
                    {% if request.session.uname %}
                        <a href="./profile">View Profile</a>
                        <a href="#">Paid Membership</a>
                        <a href="./logout">Log Out</a>
                    {% else %}
                        <a href="./signin">SignIn</a>
                        <a href="./signup">SignUp</a>
                    {% endif %}
                </div>
            </div>

          </nav>
        </div>
        <div class="container container-sm|md|lg|xl ">
          <div class="card">
            <img class="card-img" src={{url}} alt="Card image">
            <div class="card-body">

              {% if messages %}
                  {% for error in messages %}
                  <p>{{ error }}</p><br>
                  {% endfor %}
              {% endif %}

              <h2 class="card-title">{{title}}</h2>
              <p class="card-text">{{genre}}</p>
              <h4 class="cast">{{year}}</h4>
              <p class="card-text">Please Rate for your Hybrid Recommendation.</p>
              <div class="rating">
                <form class="" action="./watch_1?movieid={{title}}" role="search"  name="ratingForm" method="post">
                {% csrf_token %}
                  <div class="slidecontainer">
                    <span id="rate"></span>
                    <input type="range" min="0" max="5" value="0" class="slider" id="myRange">
                    <label>Rate: <span id="demo"></span></label></br></br>
                    <input type="submit" id="sub" class="btn" name="" value="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br/><br/><br/><br/>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center ">
          <footer class="page-footer font-small">
            <span class="navbar-text">
              © 2020 Copyright:
              <a class="navbar-brand" href="">
                <span class="red">Hy</span><span class="orange">pe</sapn><span class="red">Mov</span><span class="orange">ies</span>
              </a>
            </span>
          </footer>
        </nav>
        
        <script type="text/javascript">
          var slider = document.getElementById("myRange");
          var output = document.getElementById("demo");
          output.innerHTML = slider.value; // Display the default slider value

          // Update the current slider value (each time you drag the slider handle)
          slider.oninput = function() {
          output.innerHTML = this.value;
          } 
        </script>

  
        <script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/jquery/jquery.validate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/validaterate.js' %}"></script>


    </body>
</html>
